body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border:none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}

#increment-btn:hover {
    background-color: darkblue; /* Green */
    color: white;
  }

#save-btn:hover {
    background-color: darkgreen; /* Green */
    color: white;
  }
#increment-btn {
    background: #0077ff;
    border: 2px rgb(0, 0, 0);
    border-style: solid;
}

#save-btn {
    background: green;
    border: 2px rgb(0, 0, 0);
    border-style: solid;
}

#reset-btn {
    background: white;
    border: 2px rgb(0, 0, 0);
    border-style: solid;
}

#reset-btn:hover {
    background-color: black; /* Green */
    color: white;
  }